@import "tailwindcss";

/* found them all from https://tailwindcss.com/docs/background-color */
@source inline("bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,mauve,olive,mist,taupe}-400");

html {
	scrollbar-gutter: stable;
}
@plugin "@tailwindcss/typography";

.prose {
	@apply prose-xl prose-invert;
}
.prose h1 {
	@apply text-4xl font-bold mt-8 mb-4;
}
.prose h2 {
	@apply text-3xl font-bold mt-7 mb-3;
}
.prose h3 {
	@apply text-2xl font-bold mt-6 mb-3;
}
.prose h4 {
	@apply text-xl font-bold mt-5 mb-2;
}
.prose h5 {
	@apply text-lg font-bold mt-4 mb-2;
}
.prose h6 {
	@apply text-base font-bold mt-4 mb-2;
}
.prose p {
	@apply mb-4 text-xl tracking-[0.015em];
}

.prose h1.title {
	@apply text-5xl;
}

@font-face {
	font-family: "Rubik";
	src: url("/fonts/Rubik.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--backdrop: #111724;
	--surface: #1e293e;
	--surface-hover: #25324c;
	--surface-border: #353e51;
	--surface-border-hover: #465167;
	--header: #c7d2e9;
	--text: #8d9db8;
	--text-hover: #7a8da6;
	--text-disabled: #4d5669;
}

@theme {
	--color-backdrop: var(--backdrop);
	--color-surface: var(--surface);
	--color-surface-hover: var(--surface-hover);
	--color-surface-border: var(--surface-border);
	--color-surface-border-hover: var(--surface-border-hover);
	--color-header: var(--header);
	--color-text: var(--text);
	--color-text-hover: var(--text-hover);
	--color-text-disabled: var(--text-disabled);
}

body {
	font-family: "Rubik", system-ui, sans-serif;
	@apply font-medium;
}

.mono {
	font-family: "JetBrains Mono", monospace !important;
}

::view-transition-group(.fade-in) {
	animation: fade-in 200ms ease;
}

::view-transition-group(.fade-out) {
	animation: fade-out 200ms ease;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
