@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}
@plugin "@tailwindcss/typography";

.prose { @apply prose-xl prose-invert; }
.prose h1 { @apply text-4xl font-bold mt-8 mb-4; }
.prose h2 { @apply text-3xl font-bold mt-7 mb-3; }
.prose h3 { @apply text-2xl font-bold mt-6 mb-3; }
.prose h4 { @apply text-xl font-bold mt-5 mb-2; }
.prose h5 { @apply text-lg font-bold mt-4 mb-2; }
.prose h6 { @apply text-base font-bold mt-4 mb-2; }
.prose p { @apply mb-4 text-xl tracking-[0.015em]; }

.prose h1.title { @apply text-5xl; }

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Overused Grotesk", system-ui, sans-serif;
  @apply font-medium;

  /* grid background */
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
}

.mono {
  font-family: "JetBrains Mono", monospace;
}