SLACK_USER_ID="xxxxxxxxxxx" # Find your Slack User ID by going to #what-is-my-slack-id here: https://hackclub.enterprise.slack.com/archives/C0159TSJVH8
SLACK_OAUTH_TOKEN="xxxx-xxxxxxxxxx-xxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx" # Create a Slack App and give it the 'users:read' scope to get a Bot User OAuth Token: https://api.slack.com/apps
HACKATIME_API_KEY="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" # Get your Hackatime API key from https://hackatime.hackclub.com/my/wakatime_setup
SPOTIFY_ACCESS_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # Create a Spotify App and create an access token with /api/token: https://developer.spotify.com/

PAYLOAD_SECRET="xxxxxxxxxxxxxxxxxxxxxxxx" # Used as session secret, can be any random string
DATABASE_URL="file:./database.db" # Location of your SQLite database (host one if deploying on Vercel, otherwise it won't persist)