STATUS_ENABLED="false" # Set to false to disable status display
SLACK_USER_ID="xxxxxxxxxxx" # Find your Slack User ID by going to #what-is-my-slack-id here: https://hackclub.enterprise.slack.com/archives/C0159TSJVH8
SLACK_OAUTH_TOKEN="xxxx-xxxxxxxxxx-xxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx" # Create a Slack App and give it the 'users:read' scope to get a Bot User OAuth Token: https://api.slack.com/apps
HACKATIME_API_KEY="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" # Get your Hackatime API key from https://hackatime.hackclub.com/my/wakatime_setup

# Create a Spotify App and find the client ID and client secret: https://developer.spotify.com/
SPOTIFY_ENABLED="false" # Set to false to disable Spotify integration
SPOTIFY_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SPOTIFY_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SPOTIFY_REFRESH_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # Generate a refresh token using this open-source project (choose user-read-currently-playing): https://github.com/limhenry/spotify-refresh-token-generator

PAYLOAD_SECRET="xxxxxxxxxxxxxxxxxxxxxxxx" # Used as session secret, can be any random string
DATABASE_URL="file:./database.db" # Location of your SQLite database (host one if deploying on Vercel, otherwise it won't persist)