# If deploying your CMS database with Turso on Vercel, `TURSO_DATABASE_URL` and `TURSO_AUTH_TOKEN` are automatically used, and `DATABASE_URL` will be ignored.
# If Vercel Blob Storage is detected with `BLOB_READ_WRITE_TOKEN`, it will be used as the storage adapter for Payload's media library by default.
# For Redis (used for status updates), `KV_REST_API_URL and `KV_REST_API_TOKEN` will be used by default.
DATABASE_URL="file:./database.db" # Location of your SQLite database (use if not deploying via Turso on Vercel, e.g., development or different provider).

STATUS_ENABLED="false" # Set to false to disable status display

# Create a Spotify App and find the client ID and client secret: https://developer.spotify.com/
SPOTIFY_ENABLED="false" # Set to false to disable Spotify integration
SPOTIFY_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SPOTIFY_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SPOTIFY_REFRESH_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # Generate a refresh token using this open-source project (choose user-read-currently-playing): https://github.com/limhenry/spotify-refresh-token-generator

# Get an API key from https://proxycheck.io/ to enable VPN/proxy checking for print requests
PRINT_ENABLED="true" # Set to false to disable printing functionality all together
PRINT_VPN_CHECK="true" # Set to false to disable VPN/proxy checking for print requests (accept all)
PRINT_VPN_CHECK_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # Replace with your ProxyCheck API key (required for VPN/proxy checking)
