@import "tailwindcss";

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Overused Grotesk", system-ui, sans-serif;

  /* grid background */
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

.mono {
  font-family: "JetBrains Mono", monospace;
}